component[name="askforquotebutton"] > .text {
  color: #fff;
  font: 16px;
  line-height: 70px;
  text-align: center;
  letter-spacing: .16em;
  position: absolute;
  width: auto;
  text-transform: uppercase;
  border: none;
  border-radius: 60px;
  margin: 0 auto;
  margin-top: -10%;
  cursor: pointer;
}

.color-change-5x {
	-webkit-animation: color-change-5x 8s linear infinite alternate both;
	        animation: color-change-5x 8s linear infinite alternate both;
  background-blend-mode: difference;
}

/**
 * ----------------------------------------
 * animation color-change-5x
 * ----------------------------------------
 */
@-webkit-keyframes color-change-5x {
  0% {
    background: #19dcea;
    border-radius: 10px;
  }
  25% {
    background: #b22cff;
    border-radius: 20px;
  }
  50% {
    background: #ea2222;
    border-radius: 30px;
  }
  75% {
    background: #f5be10;
    border-radius: 40px;
  }
  100% {
    background: #3bd80d;
    border-radius: 60px;
  }
}
@keyframes color-change-5x {
  0% {
    background: #19dcea;
    border-radius: 10px;
  }
  25% {
    background: #b22cff;
    border-radius: 20px;
  }
  50% {
    background: #ea2222;
    border-radius: 30px;
  }
  75% {
    background: #f5be10;
    border-radius: 40px;
  }
  100% {
    background: #3bd80d;
    border-radius: 60px;
  }
}
