<footer class="page-footer">
<div class="container">
  <div class="row">
    <div class="col l6 s12">
      <h5 class="white-text">About QCObjects:</h5>
      <p class="grey-text text-lighten-4">QCObjects is a javascript framework designed to make easier everything about the MVC patterns implementation into the pure javascript scope. You don't need to use typescript nor any transpiler to run QCObjects. It runs directly on the browser and it uses pure javascript with no extra dependencies of code. You can make your own components expressed in real native javascript objects or extend a native DOM object to use in your own way.
        </p>


    </div>
    <div class="col l3 s12">
      <h5 class="white-text">Find out more:</h5>
      <ul>
        <li><a class="white-text" href="https://github.com/QuickCorp/QCObjects">View on Github</a></li>
        <li><a class="white-text" href="https://qcobjects.readthedocs.io/en/latest/">Documentation on Readthedocs</a></li>
        <li><a class="white-text" href="http://demo1.qcobjects.dev/">Demo</a></li>
      </ul>
    </div>
    <div class="col l3 s12">
    </div>
  </div>
</div>
<div class="footer-copyright">
  <div class="container">
  Made by <a class="brown-text text-lighten-3" href="https://www.quickcorp.org">QuickCorp</a>
  </div>
</div>
</footer>
