<div class="row">
  <div class="input-field col s6">
    <input placeholder="{{placeholder_first_name}}" data-field="first_name" value="{{first_name}}" id="first_name" name="first_name" type="text" class="validate">
    <label for="first_name">Nombre</label>
  </div>
  <div class="input-field col s6">
    <input placeholder="{{placeholder_last_name}}" id="last_name" type="text" data-field="last_name" class="validate" value="{{last_name}}">
    <label for="last_name">Apellido</label>
  </div>
</div>
