<!--   Icon Section   -->
<div class="row">
  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">flash_on</i></h2>
      <h5 class="center white-text">Quick Pay</h5>

      <p class="light white-text">The fastest backoffice to manage your transactions Quick and Easy</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">group</i></h2>
      <h5 class="center white-text">QuickStore</h5>

      <p class="light white-text">Is the best way to surprise your customers with a professional Design Pattern</p>
    </div>
  </div>

  <div class="col s12 m4">
    <div class="icon-block">
      <h2 class="center white-text"><i class="material-icons">settings</i></h2>
      <h5 class="center white-text">Custom and Simple</h5>
      <p class="light white-text">Our tools are customizable for your needs. So you can start now with the basic settings and then ask for customizations</p>
    </div>
  </div>
</div>
