<!-- Navbar and Header -->
<nav class="nav-extended bj z-depth-0 blue-grey lighten-5">
  <div class="nav-background black">
  </div>
  <div class="nav-wrapper db">
    <a href="index.html" class="brand-logo">SaverTicket</a>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    <ul class="bt hide-on-med-and-down">
      <li><a href="#">Demo</a></li>
      <li><a href="#">FAQ</a></li>
      <li><a href="#">API</a></li>
      <li><a href="#">Branding</a></li>
      <li><a href="#">Mi Cuenta</a></li>
    </ul>

  </div>
</nav>
